html,
body,
#root {
  height: 100%;
}

body {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 25px 50px 50px 25px;
}

.home-container {
  display: flex;
  border: solid red;
}

.chore-name {
  display: flex;
  flex-direction: column;
  background-color: #eb6e80;
  color: rgb(27, 142, 105);
  justify-content: left;
  font-size: medium;
  margin-right: 50px;
  text-decoration: underline;
}

.chore-name :hover {
  background-color: #e9b000;
  border-top: 2px solid #e24e42;
  border-right: 2px solid #ffffcc;
  border-bottom: 2px solid #ffffcc;
  border-left: 2px solid #e24e42;
  padding: 1px 6px 0px 4px;
}

.chore-preview {
  background-color: #e9b000;
  font-size: 14px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
