@import url("https://fonts.googleapis.com/css2?family=Acme&family=Luckiest+Guy&family=Paytone+One&family=Rampart+One&display=swap");

.deleteButton,
.editButton {
  display: inline-block;
  background-color: #e24e42;
  color: whitesmoke;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 10px 10px;
}

h1 {
  font-family: "Acme", sans-serif;
  color: rgb(27, 142, 105);
  padding: 20px 20px;
}
