@import url("https://fonts.googleapis.com/css2?family=Acme&family=Luckiest+Guy&family=Paytone+One&family=Rampart+One&display=swap");

form {
  display: flex;
  background-color: #e9b000;
  height: 36%;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Luckiest Guy", cursive;
}

h2 {
  color: rgb(27, 142, 105);
  text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
  font-size: 30px;
}

input[type="text"] {
  height: 70%;
  width: 20%;
}

textarea {
  height: 100%;
  width: 75%;
}
button {
  display: block;
  background-color: #e24e42;
  color: white;
  margin: 0 auto;
}
