form {
  display: inline-block;
  align-self: center;
  text-align: left;
  border: solid;
  margin: 25px 50px 50px 25px;
  padding: 14px;
}

/* .nameLabel, 
.descriptionLabel {
  align-self: center;
}

#name {
  display: flex;
  flex-direction: row;
}

#direction {
  display: flex;
  flex-direction: row;
} */

button {
  background-color: #E24E42;
  color: white;
}