.form {
  display: inline-flex;
  justify-content: center;
}

.nameLabel {
  border: solid;
}

#name {
  display: flex;
  flex-direction: row;
}

button {
  background-color: #E24E42;
  color: white;
}